.env
.idea
Diaochan - Wikipedia.pdf
pages/__pycache__/
src/core/__pycache__
src/schemas/chunking/__pycache__
src/services/chunkers/__pycache__
src/services/parsers/__pycache__
src/services/parsers/pdf/__pycache__